<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c9eda911-8887-4df2-a50f-2d6964bc52bc/resourceGroups/stayinhome/providers/Microsoft.Web/sites/api-stayinsampa</ResourceId>
    <ResourceGroup>stayinhome</ResourceGroup>
    <ApiResourceId>/subscriptions/c9eda911-8887-4df2-a50f-2d6964bc52bc/resourceGroups/stayinhome/providers/Microsoft.ApiManagement/service/stayhome-api/apis/api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://api-stayinsampa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>7df17fb3-ba77-489f-bb06-606fefeec1b6</ProjectGuid>
    <PublishUrl>https://api-stayinsampa.scm.azurewebsites.net/</PublishUrl>
    <UserName>$api-stayinsampa</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>