<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/c9eda911-8887-4df2-a50f-2d6964bc52bc/resourceGroups/api-homestay/providers/Microsoft.ContainerRegistry/registries/api20250428222203</ResourceId>
    <ResourceName>api20250428222203</ResourceName>
    <ResourceGroup>api-homestay</ResourceGroup>
    <Subscription>Assinatura do Azure 1</Subscription>
    <RegistryUrl>api20250428222203.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>7df17fb3-ba77-489f-bb06-606fefeec1b6</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>